*{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body{
	min-width: 320px;
	overflow-x: hidden;
	font-size: 1.36vw;
	line-height: 2.13vmax;
	font-family: 'Montserrat', sans-serif;
	font-weight: normal;
	color: #000;
}
.container{
	max-width: 1170px;
	width: 100%;
	margin: 0 auto;
	padding: 0 15px;
}
.header{
	position: relative;
	min-height: 51.3vmax;
	height: 100%;
	width: 100%;
	background-image: url(../img/header-bg.jpg);
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	color: #fff;
	z-index: 0;
}
.header:after{
	content:'';
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	background-color: #000;
	opacity: .5;
	z-index: -1;
}
.header-text{
	min-height: 51.3vmax;
	height: 100%;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
	justify-content: center;
	margin-left: 5.81vw;
}
.header-uptitle{
	text-transform: uppercase;
	margin-bottom: 1.7vmax;
}
.header-title{
	text-transform: uppercase;
	margin-bottom: 3.41vmax;
	font-size: 4.27vmax;
	font-weight: bold;
	white-space: nowrap;	
}
.header-title span{
	color: #ffcc02;
}
section{
	padding: 4.27vmax 0 5.98vmax;
}
section h2{
	line-height: 8.72vw;
	padding-left: 2.8vw;
	position: relative;
	font-size: 1.7vmax;
	font-weight: bold;
	text-transform: uppercase;
	margin-bottom: 5.98vmax;
}
section h2:after{
	content: '';
	display: block;
	width: 4px;
	height: 100%;
	background-color: #ffcc02;
	position: absolute;
	left: 0;
	top: 0;
}
.after-list{
	width: 100%;
	height: 300px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-around;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
}
.after-item{
	width: 30%;
	text-align: center;
}
.after-item__head{
	position: relative;
	margin-bottom: 4.27vmax;
}
.after-item__head--circle{
	width: 225px;
	height: 225px;
	background-color: #ffcc02;
	border-radius: 50%;
	-webkit-box-shadow: 0 31px 73px 30px rgba(0,0,0,.1);
	box-shadow: 0 31px 73px 30px rgba(0,0,0,.1);
	margin: 0 auto;
}
.after-item__head--img{
	width: 211px;
	height: 100%;
	background-repeat: no-repeat;
	position: absolute;
	bottom: -20px;
	left: 50%;
	-webkit-transform: translateX(-45%);
	-ms-transform: translateX(-45%);
	-o-transform: translateX(-45%);
	transform: translateX(-45%);
}




/*MEDIA*/

@media (max-width: 768px){
	.after-item{
		width: 50%;
		margin-bottom: 20px;
	}
}

@media (max-width: 580px){
	.after-item{
		width: 100%;
	}
}