*{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
img{
	max-width: 100%;
	height: auto;
}
body{
	min-width: 320px;
	overflow-x: hidden;
	font-size: 1.36vmax;
	line-height: 2.13vmax;
	font-family: 'Montserrat', sans-serif;
	font-weight: normal;
	color: #000;
	overflow-x: hidden;
}
.container{
	max-width: 1170px;
	width: 100%;
	margin: 0 auto;
	padding: 0 15px;
}
.header{
	position: relative;
	height: 600px;
	width: 100%;
	background-image: url(../img/header-bg.jpg);
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	color: #fff;
	z-index: 0;
}
.header:after{
	content:'';
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	background-color: #000;
	opacity: .5;
	z-index: -1;
}
.header-text{
	min-height: 600px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
	justify-content: center;
	margin-left: 5.81vw;
}
.header-uptitle{
	text-transform: uppercase;
	margin-bottom: 1.7vmax;
}
.header-title{
	text-transform: uppercase;
	margin-bottom: 3.41vmax;
	font-size: 4.27vmax;
	font-weight: bold;
	white-space: nowrap;	
}
.header-title span{
	color: #ffcc02;
}
section{
	padding: 4.27vmax 0 5.98vmax;
}
section h2{
	line-height: 8.72vw;
	padding-left: 2.8vw;
	position: relative;
	font-size: 1.7vmax;
	font-weight: bold;
	text-transform: uppercase;
	margin-bottom: 5.98vmax;
}
section h2:after{
	content: '';
	display: block;
	width: 4px;
	height: 100%;
	background-color: #ffcc02;
	position: absolute;
	left: 0;
	top: 0;
}
.after{padding-bottom: 0;}
.after-list{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-around;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
}
.after-item{
	width: 30%;
	text-align: center;
	margin-bottom: 40px;
}
.after-item__head{
	position: relative;
	margin-bottom: 4.27vmax;
}
.after-item__head--circle{
	width: 225px;
	height: 225px;
	background-color: #ffcc02;
	border-radius: 50%;
	-webkit-box-shadow: 0 31px 73px 30px rgba(0,0,0,.1);
	box-shadow: 0 31px 73px 30px rgba(0,0,0,.1);
	margin: 0 auto;
}
.after-item__head--img{
	width: 211px;
	height: 100%;
	background-repeat: no-repeat;
	position: absolute;
	bottom: -20px;
	left: 50%;
	-webkit-transform: translateX(-45%);
	-ms-transform: translateX(-45%);
	-o-transform: translateX(-45%);
	transform: translateX(-45%);
}
.after-text-block{
	background-color: #e8e8e8;
	padding: 44px 0;
	padding-left: 5.81vw;
	position: relative;
}
.after-text-block b{
	margin-top: 30px;
	display: block;
}
.all-cases{
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -ms-align-items: center;
  align-items: center;
  justify-content: space-around;
  background-image: -moz-linear-gradient( 0deg, rgb( 230, 92, 0 ) 0%, rgb( 249, 212, 35 ) 100%);
  background-image: -webkit-linear-gradient( 0deg, rgb( 230, 92, 0 ) 0%, rgb( 249, 212, 35 ) 100%);
  -webkit-box-shadow: 0px 0px 73px 26px rgba( 0, 0, 0,.2 );
  box-shadow: 0px 0px 73px 26px rgba( 0, 0, 0,.2 );
  position: fixed;
  font-size: 14px;
  color: #fff;
  text-decoration: none;
  bottom: 20px;
  right: 20px;
  width: 228px;
  height: 52px;
  z-index: 100;
}
.features-block{
	background-image: url(../img/sections/features/measuring-stick.png);
	height: 854px;
	background-repeat: no-repeat;
	background-position: center;
}
.features-block-list{
	padding: 50px 0;
	min-height: 565px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
	justify-content: space-between;
}
.features-block-item{
	width: 50%;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	justify-content: flex-end;
}
.features-block-item:nth-child(even){
	-webkit-flex-direction: row-reverse;
	-moz-flex-direction: row-reverse;
	-ms-flex-direction: row-reverse;
	-o-flex-direction: row-reverse;
	flex-direction: row-reverse;
	margin-left: auto;
}
.features-block-item:nth-child(even) .features-block-item-text{
	text-align: left;
	margin-right: 0;
	margin-left: 30px;
}
.features-block-item-text{
	text-align: right;
	margin-right: 30px;
}
.features-block-item span{
	height: 3px;
	width: 150px;
	background-color: #ffcc02;
	display: block;
	z-index: -1;
}
.features-text{
	max-width: 1005px;
	width: 100%;
	margin: 0 auto;
	border: 5px #ffcc02 dotted;
	padding: 50px;
	margin-top: 50px;
}
.as{
	background-color: #e8e8e8;
}
.as .subtitle{
	font-size: 1.36vmax;
	text-transform: none;
	display: block;
	margin-top: -90px;
	padding-left: 2.8vw;

}
.as-block{
	margin-top: 8vmax;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
}
.as-item{
	width: 360px;
	position: relative;
	margin-bottom: 100px;
}
.as-item .count{
	position: absolute;
	top: -30px;
	right: 38px;
	color: #ffcc02;
	font-weight: bold;
	font-size: 4.44vmax;
	width: 60px;
	height: 60px;
	border: 4px solid #ffcc02;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	justify-content: center;
	z-index: 0;
}
.as-item img{
	z-index: 1;
	position: relative;
	max-width: 100%;
	height: auto;
}
.as-text{
	background-color: #fff;
	padding: 30px 20px;
	width: 95%;
	position: absolute;
	right: 0;
	top: 79%;
	z-index: 1;
	font-size: 14px;
}
.setting-block{
	box-shadow: 0px 0px 73px 26px rgba( 0, 0, 0,.1 );
	max-width: 975px;
	width: 100%;
	margin: 0 auto;
}
.setting-item{
	position: relative;
	background-color: #fff;
	padding: 35px 60px;
}
.setting-item:nth-child(even){
	background-color: #f6f6f6;
}
.setting-item .count{
	position: absolute;
	top: 50%;
	left: -40px;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	font-size: 133px;
	font-weight: bold;
	color: #ffcc02;
	z-index: -1;
}
.pages-row{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	-ms-align-items: center;
	align-items: center;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
}
.pages-text{width: 50%;}
.pages-text p{
	margin-bottom: 15px;
	padding-left: 5.81vw
}
.pages-text p span{color: #ffcc02;}
.pages-test{
	background-color: #fff;
  border-width: 2px;
  border-color: rgb( 255, 204, 2 );
  border-style: solid;
  box-shadow: 3.064px 2.571px 29px 0px rgb( 0, 0, 0, .2 );
  padding: 60px 80px;
  position: relative;
}
.pages-test:after,
.pages-test:before{
	content: '';
	display: block;
	position: absolute;
	background-image: url(../img/quotes.png);
	width: 87px;
	height: 61px;

}
.pages-test:after{
	top: -25px;
	left: -10px;
}
.pages-test:before{
	-webkit-transform: rotateZ(180deg);
	-ms-transform: rotateZ(180deg);
	-o-transform: rotateZ(180deg);
	transform: rotateZ(180deg);
	right: -10px;
	bottom: -25px;
}
.img-block{
	text-align: center;
	border-bottom: 6px solid #ffcc02;
	margin-top: 100px;
}
.img-block--small{
	max-width: 800px;
	margin: 0 auto;
	margin-top: 60px;
}
.img-block img{
	display: block;
	margin: 0 auto;
	max-width: 100%;
	height: auto;
}
.img-title{
	text-align: center;
	margin-top: 15px;
}
.sect-site{
	background-image: url(../img/sections/pages/site.png);
	min-height: 1510px;
	background-repeat: no-repeat;
	background-position: right top;
	position: relative;
}
h3{
	font-size: 18px;
	text-align: center;
	text-transform: uppercase;
	margin: 75px 0;
}
.sect-site-item{
	width: 63.3%;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: flex-end;
	-ms-align-items: center;
	align-items: center;
	text-align: right;
	position: absolute;
}
.sect-site-item p{width: 80%;}
.sect-site-item span{
	width: 136px;
	height: 2px;
	background-color: #ffcc02;
	margin-left: 30px;
	position: relative;
}
.sect-site-item span:before{
	content: '';
	display: block;
	width: 17px;
	height: 17px;
	border-radius: 50%;
	background-color: #ffcc02;
	position: absolute;
	right: -8px;
	bottom: -7.5px;
}
.sect-site-item:nth-child(1){top: 80px;}
.sect-site-item:nth-child(2){top: 255px;}
.sect-site-item:nth-child(3){top: 350px;}
.sect-site-item:nth-child(4){top: 570px;}
.sect-site-item:nth-child(5){top: 850px;}
.sect-site-item:nth-child(6){top: 977px;}
.sect-site-item:nth-child(7){top: 1095px;}
.sect-site-item:nth-child(8){top: 1233px;}
.sect-site-item:nth-child(9){top: 1407px;}

.kwiz-item{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	width: 90%;
	margin-right: auto;
	margin-bottom: 25px;
}
.kwiz-item:nth-child(even){
	-webkit-flex-direction: row-reverse;
	-moz-flex-direction: row-reverse;
	-ms-flex-direction: row-reverse;
	-o-flex-direction: row-reverse;
	flex-direction: row-reverse;
	margin-left: auto;
	margin-right: 0;
}
.kwiz-item-img{
	-webkit-box-shadow: 0px 0px 73px 26px rgba( 0, 0, 0,.1 );
	box-shadow: 0px 0px 73px 26px rgba( 0, 0, 0,.1 );
}
.kwiz-item-text{
	border: 6px solid #ffcc02;
	width: 50%;
	padding: 45px 15px;
	text-align: center;
	z-index: -1;
	margin-left: -6px;
	font-weight: bold;
}
.kwiz-item:nth-child(even) .kwiz-item-text{
	margin-left: 0;
	margin-right: -6px;
}
.start{
	background-color: #e8e8e8;
}
.start h2{margin-bottom: 10px;}
.start p{margin-bottom: 20px;}
.start-row{
	width: 95%;
	margin-left: auto;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	-ms-align-items: center;
	align-items: center;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
	margin-bottom: 60px;
}
.start-row h5{
	font-weight: normal;
	font-size: 1.36vmax;
	margin-bottom: 20px;
}
.start-row li{
	list-style: none;
	padding-left: 20px;
	position: relative;
}
.start-row li:after{
	content: '';
	display: block;
	width: 8px;
	height: 8px;
	background-color: #ffcc02;
	border-radius: 50%;
	position: absolute;
	left: 0;
	top: 50%;
	margin-top: -4px;
}
.start-img{
	-webkit-box-shadow: 0px 0px 73px 26px rgba( 0, 0, 0,.1 );
	box-shadow: 0px 0px 73px 26px rgba( 0, 0, 0,.1 );
}
.optimization p{
	padding-left: 5.81vmax;
}
.optimization-row{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-top: 40px;
}
.optimization-item{
	background-color: #ffcc02;
	width: 360px;
	padding: 50px 0px 20px 15px;
	font-size: 1.2vmax;
	position: relative;
}
.optimization-item:after{
	content: '';
	display: block;
	width: 46px;
	height: 46px;
	border-radius: 50%;
	background-color: #fff;
	position: absolute;
	top: -23px;
	left: 50%;
	margin-left: -23px;
}
.optimization-text-block{
	flex:1;
}
.optimization-text-block p{
	margin-bottom: 30px;
}
.optimization-text-block p span{color: #ffcc02;font-weight: bold;}
.optimization-row--two{
	-ms-align-items: center;
	align-items: center;
}
.optimization-row--two img{
	padding: 0 5.81vmax;
}
.video{
	position: relative;
}
.video-img-block{
	position: absolute;
	right: -100px;
	top: -20px;
	width: 61%;
}
.video-text-block{
	border: 4px solid #ffcc02;
	padding: 5.81vmax;
	max-width: 865px;
	margin-left: -5.81vmax;
}
.video-text-block p{max-width: 555px;}
.video-text-block p:first-child{margin-bottom: 2.1vmax;}
.video-items{margin-top: 4.27vmax;}
.video-item{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	margin-bottom: 30px;
}
.video-item:nth-child(even){
	-webkit-flex-direction: row-reverse;
	-moz-flex-direction: row-reverse;
	-ms-flex-direction: row-reverse;
	-o-flex-direction: row-reverse;
	flex-direction: row-reverse;
}
.video-item:nth-child(even) p{
	margin-left: 0;
	margin-right: -34px;
	text-align: right;
}
.video-item span{
	width: 68px;
	height: 68px;
	border-radius: 50%;
	background-color: #ffcc02;
	font-size: 3.42vmax;
	font-weight: bold;
	text-align: center;
	line-height: 68px;
	position: relative;
}
.video-item p{
	background-color: #f4f4f4;
	padding: 40px 66px;
	min-height: 120px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	margin-left: -34px;
}
.video-text{
	margin: 50px 0 0;
	display: block;
}
.footer{
	padding-bottom: 6vmax;
}
.footer a{
	font-weight: bold;
	color: #ffcc02;
	-webkit-transition: all .5s ease;
	-o-transition: all .5s ease;
	transition: all .5s ease;
}
.footer a:hover{text-decoration: none;}
.footer-wrap{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	justify-content: space-between;
}




/*MEDIA*/

@media (max-width: 1200px){
}

@media (max-width: 992px){
	.as-block{
		justify-content: center;
	}
	.as-item{
		margin: 0 15px 100px;
	}
	.setting-block{
		max-width: 90%;
	}
	.sect-site-item{width: 56.5%;}
	.sect-site-item span{z-index: -1;}
	.start-row ul{margin-bottom: 30px;}
	.optimization-item{width: 31%;font-size: 1.8vmax;line-height: 1.3;}
	.video-row .container{
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		-webkit-flex-direction: column-reverse;
		-moz-flex-direction: column-reverse;
		-ms-flex-direction: column-reverse;
		-o-flex-direction: column-reverse;
		flex-direction: column-reverse;
		justify-content: center;
		-ms-align-items: center;
		align-items: center;
	}
	.video-text-block{
		max-width: 100%;
		margin-left: 0;
		margin-top: -70px;
	}
	.video-text-block p{max-width: 100%;}
	.video-img-block{
		position: relative;
		width: 100%;
		right: auto;
		top: 0;
		text-align: center;
	}
}
@media (max-width: 767px){
	.sect-site-title,
	.sect-site,
	.sect-site--kwiz{display: none;}
}
@media (max-width: 768px){
	.header{height: 300px;}
	.header-text{min-height: 300px;}
	.start-row{width: 100%;justify-content: center;}
	.kwiz-item-img{
		width: 60%;
	}
	.kwiz-item-img img{
		max-width: 100%;
	}
	.after-item{
		width: 50%;
	}
	.features-block-item:nth-child(even){
		-webkit-flex-direction: row;
		-moz-flex-direction: row;
		-ms-flex-direction: row;
		-o-flex-direction: row;
		flex-direction: row;
		margin-left: 0;
	}
	.features-block-item:nth-child(even) .features-block-item-text{
		text-align: right;
		margin-left: 0;
		margin-right: 30px;
	}
	.features-block{
		background-position: top right 180px;
	}
	.features-block-item{
		width: 65%;
	}
	.as .subtitle{
		margin-top: -35px;
		padding-left: 0;
	}
	.as-text{width: 100%;}
	.pages-text{
		width: 100%;
		margin-bottom: 30px;
	}
	.pages-row{
		justify-content: center;
	}
	.pages-test{
		padding: 50px 60px;
	}
	.footer-wrap{
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
	}
	.footer-img{margin-bottom: 30px;}
	.video-row .container{padding: 0;}
	.video-text-block{border-left: 0;border-right: 0;}
}

@media (max-width: 580px){
	body{font-size: 2vmax;line-height: 1.3;}
	section h2{font-size: 2.7vmax;}
	.optimization-text-block{width: 100%;flex:auto;}
	.optimization-text-block p{padding-left: 0;margin-bottom: 15px;}
	.optimization-row--two{justify-content: center;}
	.optimization-row--two img{max-width: 80%;margin-bottom: 30px;}
	.optimization-item{width: 100%;margin-bottom: 30px;}
	.after-item{
		width: 90%;
	}
	.after-text-block b{
		margin-top: 10px;
	}
	.features-block{
		background-position: top right -50px;
	}
	.features-block-item{
		width: 100%;
	}
	.features .container{
		padding-right: 0;
	}
	.features-block-item-text{width: 100%;}
	.features-block{
		height: 650px;
		-webkit-background-size: contain;
		background-size: contain;
	}
	.features-text{display: none;}
	.as-item{
		width: 100%;
		margin-bottom: 150px;
	}
	.as-item img{
		width: 90%;
	}
	.as-text{
		top: 99%;
	}
	.as-item .count{right: 0;}
	.video-text-block{margin-top: -50px;padding-top: 40px;}
	.video-item{
		width: 100%;
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
	}
	.video-item p{width: 100%;margin-left: 0;margin-top: -34px;padding: 40px;}
	.video-item:nth-child(even){
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
	}
	.video-item:nth-child(even) p{
		margin-right: 0;
		text-align: left;
	}
	/* .video-items{margin-top: 30px;} */
}